@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
  @apply underline focus-visible:outline-offset-2 focus-visible:outline-blue-700 outline-transparent focus-visible:border-blue-700 border-transparent border-2 hover:underline hover:text-blue-700 dark:hover:text-teal-200 transition-colors duration-100;
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  img {
    @apply dark:grayscale transition-all duration-300;
  }

  .link {
    @apply cursor-pointer;
    @apply outline-transparent;
    @apply underline;
    @apply transition-colors;
    @apply duration-100;
    @apply hover:text-blue-600;
    @apply dark:hover:text-teal-200;
    @apply focus-visible:outline-offset-2;
    @apply focus-visible:outline-blue-700;
    @apply focus-visible:border-blue-700;
    @apply border-transparent;
    @apply border-2;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
